<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

</head>

<body>
    <div id="root" ></div>
    <script type="text/babel">
        // 如需定义 class 组件，需要继承 React.Component：它是使用class定义React组件的基类
    class Welcome extends React.Component {
        //   在 React.Component 的子类中有个必须定义的 render() 函数。
    
        // render() 方法是 class 组件中唯一必须实现的方法。
        render() {
            return [
                <h1>Hello, {this.props.name}</h1>,
                <h2>您好！</h2>,
                111,
                '新中国'
        ]
        }
        /**
         * 当 render 被调用时，它会检查 this.props 和 this.state 的变化并返回以下类型之一：
    
            1 React 元素。通常通过 JSX 创建。例如，<div /> 会被 React 渲染为 DOM 节点，<MyComponent /> 会被 React 渲染为自定义组件，无论是 <div /> 还是 <MyComponent /> 均为 React 元素。
            2 数组或 fragments。 使得 render 方法可以返回多个元素。欲了解更多详细信息，请参阅 fragments 文档。
            3 Portals。可以渲染子节点到不同的 DOM 子树中。欲了解更多详细信息，请参阅有关 portals 的文档
            4 字符串或数值类型。它们在 DOM 中会被渲染为----> 文本节点
            5 布尔类型或 null。什么都不渲染。（主要用于支持返回 test && <Child /> 的模式，其中 test 为布尔类型。)
    
        render() 函数应该为纯函数，这意味着在不修改组件 state 的情况下，每次调用时都返回相同的结果，并且它不会直接与浏览器交互。
         */
    }
    ReactDOM.render(<Welcome name="shenzeshu"/>,document.getElementById('root'))
    </script>
</body>
