li {
    border: 1px solid #ccc;
    border-bottom: 0;
    height: 30px;
    line-height: 30px;
}
li:last-child {
    border-bottom: 1px solid #ccc;
}
li span {
    padding-left: 10px;
}
li button {
    margin-top: 2px;
    margin-right: 5px !important;
}